* , *::after , *::before , :root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: #49a6e9;
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-secondary: hsla(182, 63%, 54%);
    --clr-secondary-2: rgb(27, 126, 184);
    --clr-secondary-3: rgb(22, 182, 194);
    --clr-black: #222;
    --clr-black-light:rgba(0 , 0, 0 , 0.9);
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --cell-size:110px;
    --mark-size:calc(var(--cell-size)* .9);
  }

html{
    scroll-behavior: smooth;
    transition: var(--transition);
  }

body::-webkit-scrollbar{
    width: 0.50rem;
  }

body::-webkit-scrollbar-track{
    background: var(--clr-grey-4);
  }

body::-webkit-scrollbar-thumb{
    background: var(--clr-black);
  }

main{
    display: grid;
    position: relative;
  }  

/*header*/
nav {
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    width: 100%;
}

.nav_head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 30px;
}

.toggle {
  transition: var(--transition);
}

.toggle a{
  font-size: 25px;
  color: var(--clr-black);
}

.toggle:hover {
  transform: rotate(90deg);
}

.toggle a:hover{
  color: var(--clr-primary-3);
}

.logo {
  width: 80px;
}

.logo img{
  width: 100%;
  cursor: pointer;
}

.links a {
  color: var(--clr-black);
  font-size: 18px;
  transition: var(--transition);
}

.links a:hover {
  color: var(--clr-primary-4);
  position: relative;
  top:-4px;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition); 
}

.links li{
  padding: 30px;
}

.show-links {
  height: 10.6rem;
}

@media (min-width: 800px) {
  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

}

@media (max-width: 800px) {
  .links li{
    padding: 11px;
    padding-left: 25px;
  }

  .links li:hover{
   background:var(--clr-grey-7);
  }

  .links li a:hover{
    margin-left: 10px;
    top:0;
  }

}

/*Sliding*/
.sec1{
    display: grid;
    position: relative;
}

.Sliding{
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: center;
}

.Slider-wrapper{
    font-size: 40px;
    color: var(--clr-black);
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Slider{
    height: 50px;
    padding-left: 15px;
    text-transform: uppercase;
    overflow: hidden;
}

.Slider div{
  color: snow;
  height: 50px;
  text-align: center;
  padding: 2px 15px;
  margin-bottom: 50px;
}

.Slider-text1{
    background: var(--clr-red-dark);
    animation: slide 5s linear infinite;
}

.Slider-text2{
    background: var(--clr-green-dark);
}

.Slider-text3{
   background: var(--clr-secondary);
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}  
  33% {margin-top:-200px;}
  38% {margin-top:-100px;} 
  66% {margin-top:-100px;}
  71% {margin-top:0px;} 
  100% {margin-top:0px;}
}

@media (max-width:600px){
  .Slider-wrapper{
    font-size: 25px;
  }

  .Slider{
    height: 32px;
  }

  .Slider div{
    padding: 2px 10px;
  }
}

/*animated gradient*/
.sec2{
   margin: 0px 0 30px;
   display: grid;
   position: relative;
}

.Gradient_wrapper{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #5ee7df , #b490ca , #78a872 );
  background-size:500% 100% ;
  animation: wrapper 8s linear infinite;
  animation-direction:alternate ;
}

@keyframes wrapper {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}

@media (max-width:750px) {
  .Gradient_wrapper{
    height: 70vh;
  }
}

/*game*/
.sec3 .Game{
   display: grid;
   position: relative;
   margin-bottom: 30px;
   min-height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.sec3 .Game .board{
   display: grid;
   grid-template-columns: repeat(3,auto); 
   align-items: center;
   justify-items: center;
   align-content: center;
   justify-content: center; 
}

.board .cell{
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--clr-black);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(3n+1){
  border-left: none;
}

.cell:nth-child(3n+3){
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
  border-bottom: none;
}

.cell.x ,
.cell.circle{
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::after,
.cell.circle::before{
  background: var(--clr-black);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
  background: var(--clr-grey-7);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
  content: "";
  position: absolute;
  width:calc(var(--mark-size) * .15 );
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
  transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
  content: "";
  position: absolute;
  border-radius: 100%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
  width:var(--mark-size) ;
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
  width:calc(var(--mark-size) * .75);
  height:calc(var(--mark-size) * .75);
  background: var(--clr-white);
}

.winning-message{
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: var(--clr-black-light);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  font-size: 50px;
}

.winning-message button{
  margin-top: 30px;
  outline: none;
  border: none;
  padding: 15px 25px;
  font-size: 25px;
  background: var(--clr-white);
  border-radius: var(--radius);
  cursor: pointer;
}

.winning-message button:hover{
  background-color: var( --clr-primary-9);
  color: var(--clr-primary-1);
}

.show-flex{
  display: flex;
}

/*click*/
.sec4{
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #df89b5 0%, #bfd9fe 100%);
  background-size: 400% 100%;
  animation: bg 8s linear infinite;
  animation-direction: alternate;
  overflow: hidden;
}

@keyframes bg {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}

.Clock{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: var(--clr-primary-7);
  border: 2px solid var(--clr-black-light);
  box-shadow: var(--dark-shadow);
  position: relative;
  transition: var(--transition);
}

.Clock::after{
  content: "";
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50% , -50%);
  width: 18px;
  height: 18px;
  background: var(--clr-black);
  border-radius: 100%;
  z-index: 11;
}

.Clock .numbers{
  --transform-rotation : 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  transform: rotate(var(--transform-rotation));
  transition: var(--transition);
}

.Clock .number1{
  --transform-rotation : 30deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number2{
  --transform-rotation : 60deg;
  transform: rotate(var(--transform-rotation));
 
}

.Clock .number3{
  --transform-rotation : 90deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number4{
  --transform-rotation : 120deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number5{
  --transform-rotation : 150deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number6{
  --transform-rotation : 180deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number7{
  --transform-rotation : 210deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number8{
  --transform-rotation : 240deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number9{
  --transform-rotation : 270deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number10{
  --transform-rotation : 300deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number11{
  --transform-rotation : 330deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .number12{
  --transform-rotation : 360deg;
  transform: rotate(var(--transform-rotation));
}

.Clock .hand{
  --transform-rotation : 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /*width: 10px;
  height: 45%;*/
  background: var(--clr-black);
  transform: translateX(-50%) rotate(calc(var(--transform-rotation) * 1deg));
  transform-origin: bottom; 
  border: 1px solid var(--clr-white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
}

.hand.hour{
  width: 10px;
  height: 35%;
  background:var(--clr-black) ;
}

.hand.minute{
  width: 7px;
  height: 40%;
  background:var(--clr-black) ;
}

.hand.second{
  width: 4px;
  height: 42%;
  background:var(--clr-red-dark) ;
}

@media (max-width:750px) {
  .sec4{
    height: 80vh;
  }
}

/*secroll back*/
.scroll {
  display: block;  
}

.scroll #secr{
 position: fixed;
 bottom:40px;
 right: 25px;
 width: 40px; 
 height: 40px;
 text-align: center;
 font-size: 18px;
 background: var(--clr-secondary-2);
 box-shadow: var(--dark-shadow);
 color: var(--clr-black);
 font-weight: bold;
 border: none;
 border-radius: var(--radius);
 cursor: pointer;  
 transition: var(--transition);  
}

.scroll #secr:hover{
 background-color: var(--clr-secondary-3);
 color:var(--clr-white);  
}

/*footer*/
footer{
    width: 100%;
    height: 5rem;
    display: grid;
    position: absolute;
    background: var(--clr-grey-5);
    text-align: center;
    padding: 35px 20px;
    font-size: 18px;
    transition: var(--transition);
}

@media (max-width:600px){
    footer {
        font-size: 16px;
    }
}